<% if (title) { %>
  <h1 id="management-title"><%= title %></h1>
<% } %>

 <%- messages() %>

 <% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<div id="account-management-container">
    <%- greeting %>
    <h2 id="account-manager-message">You are logged in.</h2>
    <div id="inventory-management-link-container">
      <%- inventoryManagementLink %>
    </div>
    <a id="update-account-link" href="/account/update">Update account information</a>
    <%- addEmployeeLink %>
    <%- removeEmployeeLink %>
</div>

